#home .cards {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 12px;
}

#home .cards .nft-card .img {
  height: auto;
}

#home .cards .nft-card .tid {
  font-size: 24px;
}

#home .not-fixed-driver {
  display: block;

  .current-card {
    width: auto;
  }
  .cards {
    width: auto;
  }
}

#home .current-card {
  margin-bottom: 50px;
}

#home .current-card .nft-card .img {
  height: 300px;
}

#home .current-card .opts {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;

  &>div {
    margin-top: 0;
  }
}

#home .fixed-driver {
  grid-template-columns: repeat(2, 1fr);
}
