@font-face {
    font-family: 'Chronicle Display';
    src: url('ChronicleDisplay-Roman.woff2') format('woff2'),
        url('ChronicleDisplay-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

